<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="description" content="Application by Aniket Aryamane">
	<meta name="author" content="Aniket Aryamane">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{% block title %}{% endblock %}</title>
	<link rel="apple-touch-icon" href="">

	{% load static %}

	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

	<!-- Link to Bootstrap CSS file -->
	<link rel="stylesheet" href="{% static 'polls/css/vendor/bootstrap/bootstrap.min.css' %}" type="text/css">

	<!-- Link to Materialize CSS file -->
	<!-- <link rel="stylesheet" href="{% static 'polls/css/vendor/materialize/materialize.min.css' %}" type="text/css"> -->

	<!-- Link to Materialize icons -->
	<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

	<!-- Link to Bulma CSS file -->
	<!-- <link rel="stylesheet" href="{% static 'polls/css/vendor/bulma/css/bulma.min.css' %}" type="text/css"> -->

	<!-- Link to Font-Awesome CSS file -->
	<link rel="stylesheet" href="{% static 'polls/css/vendor/font-awesome/css/all.css' %}" type="text/css">

	<!-- Link to your favicon.ico file -->
	<link rel="shortcut icon" href="{% static 'polls/img/favicon.ico' %}" type="image/x-icon">

	<!-- Link to your css file -->
	<link rel="stylesheet" href="{% static 'polls/css/main.css' %}" type="text/css">

</head>

<body>
	{% block content %}{% endblock %}


	<!-- Link to Materialize JS file -->
	<!-- <script src="{% static 'polls/js/vendor/materialize/materialize.min.js' %}"></script> -->

	<!-- JQuery comes first in the list -->
	<script src="{% static 'polls/js/vendor/jquery/jquery-3.4.1.min.js' %}"></script>
	<script src="https://polyfill.io/v3/polyfill.min.js"></script>
	<script src="{% static 'polls/js/vendor/babel/babel.min.js' %}"></script>
	<script src="{% static 'polls/js/vendor/popper/popper.min.js' %}"></script>
	<script src="{% static 'polls/js/vendor/bootstrap/bootstrap.min.js' %}"></script>

	<!-- Link to your js file -->
	<script src="{% static 'polls/js/main.js' %}"></script>

	<!-- Link to your extra javascript/jquery file -->
	{% block extra_js %}{% endblock %}
</body>

</html>
